body {
   overflow-x: hidden;
   font-family: "Gilroy", sans-serif;
}

.full-page-background {
   background-image: url("../public/images/background.png"); /* Path relative to the public folder */
   background-size: contain;
   background-position: center;
   background-repeat: repeat;
   height: 100%;
   width: 100%;
   overflow: hidden;
   background-color: #222121;
}
.container {
   width: 90%;
   margin: auto;
}

/* INTRO - BLOCK */
#intro {
   overflow: hidden;
}
.logo {
   position: absolute;
   padding: 2% 0;
}
#texture1,
#texture2,
#texture3 {
   position: absolute;
   z-index: 1;
   right: 0;
}
#texture1 {
   margin-right: -40%;
}
#texture2 {
   margin-right: 15%;
}
#texture3 {
   margin-right: -13%;
}
.main {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
#intro::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 10%;
   background: linear-gradient(
      to top,
      #222121,
      #222121,
      transparent
   ); /* Dark color gradient at bottom */
   z-index: 3;
   margin-top: 1%;
}
.main .text {
   display: flex;
   flex-direction: column;
   color: #f7f7f7;
   width: 50%;
   z-index: 2;
}
.main .text h1 {
   font-weight: 800;
   font-size: 48px;
   line-height: 60px;
}
.main .text h1 span {
   color: #cfa46c;
}
.main .text p {
   font-size: 24px;
   font-weight: 400;
}
#calltoaction {
   background-color: #cfa46c;
   color: #222121;
   padding: 19px 20px;
   text-decoration: none;
   align-items: center;
   width: fit-content;
   font-weight: 500;
   font-size: 24px;
   line-height: 28.25px;
   border-radius: 20px;
   transition: 0.3s;
}
#calltoaction img {
   margin: 0 0 0 10px;
   align-items: center;
}
#calltoaction:hover {
   transform: scale(1.05);
   /* font-size: 26px; */
}

.main .avatar {
   width: 49%;
   max-width: 49%;
   text-align: center;
   z-index: 2;
}
.main .avatar img {
   width: 90%;
}

/* YOULLGET BLOCK */
#youllget {
   padding-top: 10vh;
}
.youllget {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
}
#title {
   min-width: 35%;
   width: 40%;
   max-width: 40%;
   color: #a0a0a0;
   font-weight: 400;
   font-size: 48px;
   line-height: 57.6px;
   margin: 0 8% 0 0;
}
.youllget .right {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.youllget .text {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   /* height: 27vh; */
   gap: 3.7vh;
}
.youllget .text p {
   font-size: 20px;
   font-weight: 400;
   line-height: 24px;
   color: #a0a0a0;
   margin: 0;
}
.youllget .text #calltoaction {
   padding: 19px 60px;
   bottom: 0;
}
.right .bigfour {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
   width: 100%;
   margin-top: 7.5vh;
}
.right .bigfour .item {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: transparent;
   color: #a0a0a0;
   padding: 30px;
   width: 40%;
   border: #a0a0a0 solid 0.5px;
   border-radius: 20px;
   transition: 0.3s;
}
.right .bigfour .item #icon-text {
   font-size: 24px;
   line-height: 28.25px;
   font-weight: 500;
   width: 90%;
   color: #f7f7f7;
}
.right .bigfour .item .line {
   width: 90%;
   height: 0.5px;
   background-color: #f7f7f7;
   margin: 10% 0 5%;
}
.right .bigfour .item:hover #icon-text {
   color: #222121;
}
.right .bigfour .item:hover {
   background-color: #cfa46c;
   transform: scale(1.05);
}
.right .bigfour .item:hover .line {
   color: #222121;
}
.right .bigfour .item .icon #img {
   display: none;
}
.right .bigfour .item:hover .icon #img-white {
   display: none;
}
.right .bigfour .item .icon {
   padding: 5%;
   border-radius: 50px;
   border: #a0a0a0 solid 0.5px;
   width: fit-content;
}
.right .bigfour .item:hover .icon #img {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
}
.right .bigfour .item:hover .icon {
   border: #222121 solid 0.5px;
}

/* FORYOU BLOCK */
#foryou {
   padding-top: 10vh;
}
.foryou {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
}
.foryou .text {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 35vh;
   padding-top: 0.8%;
   width: 75%;
}
.foryou .text .item {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding-bottom: 2%;
   border-bottom: 0.5px solid #a0a0a0;
   transition: 0.3s;
}
.foryou .text .item h4 {
   font-size: 24px;
   line-height: 28.8px;
   color: #f7f7f7;
   margin: 0;
   font-weight: 400;
}
.foryou .text .item h4 span {
   color: #cfa46c;
}
.foryou .text .item:hover {
   transform: scale(1.03);
}

/* PRICE BLOCK */
#price {
   padding-top: 10vh;
}
.prices {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   margin-top: 5vh;
   gap: 30px;
   /* height: 70vh; */
}
.price {
   background-color: #cfa46c;
   border-radius: 30px;
   padding: 0 3%;
   min-height: 100vh;
   height: 100vh;
   transition: 0.5s;
}
.price:hover {
   transform: scale(1.05);
}
.price .content {
   padding: 20% 0;
   height: 80%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.sale {
   display: flex;
   flex-direction: column;
   height: fit-content;
}
.price #old-price {
   color: #f7f7f7;
   font-size: 36px;
   font-weight: 600;
   line-height: 42.95px;
   margin: 0 0 40px 0;
   position: relative;
}
.old-price img {
   position: absolute;
   display: flex;
   text-align: left;
   justify-content: flex-start;
   top: 0;
}
.price #new-price {
   color: #222121;
   font-size: 48px;
   font-weight: 600;
   line-height: 57.26px;
   margin: 0;
}
.price p {
   font-size: 20px;
   font-weight: 400;
   line-height: 24px;
}
.price .calltoaction {
   background-color: #f7f7f7;
   text-decoration: none;
   width: 100%;
   padding: 15px 0;
   text-align: center;
   border-radius: 20px;
}
.calltoaction a {
   text-decoration: none;
   font-size: 24px;
   font-weight: 500;
   line-height: 28.25px;
   color: #222121;
}

/* WHYAREWE BLOCK */
#whyarewe {
   padding-top: 10vh;
}
.whyarewe {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.whyarewe .items {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 30px;
   margin-left: -0.9%;
   /* justify-content: end; */
}
.whyarewe .items .item {
   display: flex;
   flex-direction: column;
   width: 275px;
   padding: 15px 15px 0 20px;
   justify-content: space-around;
   background-color: #f7f7f7;
   border-radius: 20px;
   height: 217px;
}
.whyarewe .item img {
   width: 80px;
   top: 0;
}
.whyarewe .items .item p {
   font-size: 24px;
   font-weight: 400;
   line-height: 28.8px;
   color: #222121;
   margin: 0;
}

/* FEATURES BLOCK */
#features {
   padding: 10vh 0;
   margin-bottom: 10vh;
   height: fit-content;
}
.features {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.features .content {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-end;
   gap: 26px;
}
.features .content .item {
   background-color: transparent;
   border: 0.5px solid #f7f7f7;
   border-radius: 30px;
   padding: 20px 0;
   width: 48%;
   height: 50%;
}
.features .content .item .container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 70%;
}
.features .content .item .text {
   height: 35%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   bottom: 0;
}
.features .content .item .number {
   background-color: #f7f7f7;
   border-radius: 40px;
   padding: 20px;
   width: fit-content;
   font-size: 40px;
   font-weight: 400;
   line-height: 48px;
   color: #222121;
   margin: 0;
}
.features .content .item h3 {
   font-size: 36px;
   line-height: 43.2px;
   font-weight: 400;
   color: #f7f7f7;
   margin: 15px 0;
}
.features .content .item p {
   font-size: 20px;
   line-height: 24px;
   font-weight: 400;
   color: #f7f7f7;
   margin: 8px 0;
}

/* FOUNDER BLOCK */
#founder {
   padding-top: 10vh;
   background-color: #dbdbdb;
   height: 90vh;
   overflow: hidden;
}
.founder {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.founder .text {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-bottom: 10vh;
}
.founder .text h1 {
   font-size: 48px;
   font-weight: 400;
   line-height: 57.6px;
   color: #222121;
}
.founder .text h1 span {
   font-weight: 700;
}
.founder .text .p {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 20px;
   width: 700px;
}
.founder .text .p p {
   font-size: 20px;
   font-weight: 400;
   line-height: 24px;
   color: #a0a0a0;
}

/* FEEDBACKS BLOCK */
#feedbacks {
   padding-top: 10vh;
}
.feedbacks {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.feedbacks .slider {
   width: 100%;
}
.feedbacks .slider .feedback {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 20vh;
}
.feedbacks .slider .feedback #name {
   font-size: 20px;
   line-height: 23.68px;
   font-weight: 600;
   color: #f7f7f7;
}
.feedbacks .slider .feedback #feedback {
   font-size: 20px;
   line-height: 24px;
   font-weight: 400;
   color: #f7f7f7;
}
.feedbacks .slider .feedback #posted-at {
   font-size: 18px;
   line-height: 21.6px;
   font-weight: 400;
   color: #a0a0a0;
}
.feedbacks .buttons {
   right: 0;
   bottom: 0;
   text-align: right;
   gap: 20px;
}
.feedbacks .buttons img {
   margin: 0 10px;
   cursor: pointer;
}

/* QA BLOCK */
#qa {
   margin-top: 10vh;
}
#qa .item {
   flex-direction: column;
   text-align-last: left;
}
#qa .item h4 {
   min-width: 100%;
}
#qa .item p {
   text-align-last: left;
   color: #f7f7f7;
}
#qa img {
   position: absolute;
   top: 0;
   right: 0;
   transition: .3s;
}
